html,body{margin:0;padding:0; overflow:hidden; border:0;}
.easyui-layout{ margin:0; padding:0; border:0;}
.logo{ display:block; width:300px; height:90px; background:url(../images/logo.png) center center no-repeat;}
.west-title{ /* background:url(../images/west-title.jpg) center center repeat-x;  */line-height:40px;height:40px;}
.west-body{ margin:0;padding:0; width:100%;}
.west-menu,.menu-childs{ list-style:none; margin:0; padding:0;}
.west-menu li{ padding:0px; margin:0; min-height:0; cursor:pointer;}
.west-menu li i{ margin-right:3px; padding:1px 5px;content: ' ';background: url("../images/dot.gif") center center no-repeat;}
.west-menu li.menu-childs-panel{ display:none;}
.west-menu li.menu-parent{background:url("../images/caidan.jpg") center center no-repeat;height:35px; line-height:35px;/* border-bottom:solid 1px #b9cad3; */}
.west-menu li.menu-parent div{padding-left: 30px; font-weight:bold; color: #FFFFFF; }
.west-menu li.menu-parent.selected{background:url("../images/caidan-chose.jpg") center center no-repeat;}
.west-menu li.menu-child{height:28px; line-height:28px;background:url("../images/caidan2.jpg") center center no-repeat;}
.west-menu li.menu-child div{ padding-left:23px; cursor:pointer;}
.west-menu li.menu-child.selected, .west-menu li.menu-child:hover{background:url("../images/caidan2-chose.jpg") center center no-repeat;color: #FFFFFF;}
.west-menu li.selected i, .west-menu li.menu-child:hover i{background: url("../images/dot-hover.gif") center center no-repeat;}
.west-title-text{background:url(../images/menu.jpg) left center no-repeat; padding: 0; padding-left:30px; display:block; height:40px; color:#FFFFFF; font-weight:bold;}
.north-panel{height:90px;background:#066CAD url(../images/top-bg.jpg) center bottom repeat-x;border:0;overflow:hidden;}
.north-panel .top-panel{background: url("../images/topic.jpg") right bottom no-repeat;width: 100%;height: 90px;}
.north-panel .north-left{ float:left;height:90px;}
.north-panel .north-right{ float:right;height:90px;width:205px; background:url(../images/name.png) center 40px no-repeat;}
.north-panel .north-right div.message{ position:relative; top:43px;}
.north-panel .north-right div.message span{float: left;padding: 8px 0;}
.north-panel .north-right span.usermsg{display: block;margin-left: 40px; width: 100px;}
.north-panel .north-right span.logout{display: block;width: 50px;}
.north-panel .north-right span.logout span{/* border-left: dotted 1px #38a0cd; */ padding: 0;padding-left: 15px; }
.north-panel .north-right a{color:#FFFFFF; text-decoration:none; /* line-height:30px; */}
.north-panel .north-right a.user-name{ left:45px;}
.north-panel .north-right a.login-out{ left: 100px;/* padding-left:10px; */}
.north-panel .north-right a:hover{ text-decoration:none;color: #E0F892;}
.west-panel{width:200px;background:#f0f9fd; overflow:hide; border-bottom:0; border-top:0;}

.panel-header,.panel-body {border-color: #5e912c;}

.center-panel{padding:0;border:0;border-left:#b7d5df; overflow: hidden;}
.content-title{height:39px;line-height:39px; border-bottom:solid 1px #D0DEE5; padding:0 10px;font-weight:bold;background:#E5F4DD;}
.content-title span.location{float: left;}
.content-title span.location span{font-weight:bold;}
.content-title span.location font{font-weight: normal;}
.content-title span.location i{padding:1px 5px;content: ' '; background: url("../images/arrow_item.gif") center center no-repeat;}
.content-title span.datepanel{float: right;}
.content-title i{ margin: 0 5px;}
.content-body{width: auto; border: 0px; margin: 0; padding: 0;}
#show_date{font-weight: normal;}