

/* 加入上下滚动条 */
.p_contont {
	width: 97%;
	height: 455px;
	padding: 10px;
	color: #666666;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: auto;
	background-color: #ffffff;
}

.p_contont font {
	color: #417eb7;
}


#popup .text {
	width: 100%;
	margin: 0 auto;
	padding: 15px 4px;
	min-height: 300px;
	background-color: #ffffff;
}

#popup .text h2 {
	color: #000;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
}

#popup .text span.time {
	width: 100%;
	height: 18px;
	display: block;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	background-color: #ffffff;
}

#popup .text .content {
	width: 90%;
	margin: 0 auto;
	font-size: 12px;
	margin-top: 20px;
	line-height: 20px;
	text-indent: 24px;
}

#popup .text .content img {
	margin: 10px 0;
}
