<html>
<head>
<title>熊熊TV - 电影下载</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-siteapp-platform">
<meta name="apple-itunes-app" content="app-id=990892583">
<meta name="keywords"
	content="xxtv,熊熊TV,游戏, dota, dota2, dota2直播, LOL, LOL直播">
<meta name="description"
	content="熊熊TV 专业视频直播网站">
<link rel="shortcut icon" href="${base}/assets/biz-logic/images/favicon.ico" type="image/x-icon" />
<link href="${base}/assets/biz-logic/css/main.css"
	rel="stylesheet" type="text/css">
<script type="text/javascript"
	src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

	function todetail(target) {
		window.location.href = target;
	}

</script>
</head>
<body>
	
	<div class="maxtopbar">
	<% include("/pager/common/nav-head.html"){} %>
	
		<div class="maxtopmainbar">
			<div
				style="width: 100%; height: 160px; background: url('${base}/assets/biz-logic/img/back_new_2.jpg') repeat-x; background-position: center;"></div>
			<div
				style="position: absolute; top: 19px; width: 100%; display: table; height: 130px;">
				<div
					style="margin-left: auto; margin-right: auto; position: relative; text-align: center; width: 1080px; padding-left: 20px;">
					
					<div
						style="position: absolute; top: 40px; left: 20px; text-align: left; font-size: 28px; color: #fff; font-weight: 500; ">
						
						<span style="display: table;">${movie.name}</span>
						
					</div>
				</div>
			</div>
		</div>
		<div class="main-shadow-box">
			<div class="main-container"
				style="margin-top: 0px; margin-bottom: 1px; padding-bottom: 1px;">
				<!-- Where content to be added -->
				<div class="container xuning-box" style="margin: 40px auto;">
					<div style=" width:740px;float:left;background-color:#F6FFDD;">
						<div class="overflow-text" style="margin: 10px;width:720px;">
						${movie.content}	
						</div>
					</div>
					<div style="width:260px; float:left;">
						<table class="table-list-small"
						style=" width:100%;margin-left: 10px ;">
						<tbody>
							<tr class="shead" style="height: 28px;">
								<td>最新影片</td>
							</tr>
							<% for(item in list){%>
							<tr>
								<td style="cursor: pointer;" onclick="todetail('${base}/movie/detail?id=${item.id}');"><span style="margin-left: 30px;">${item.name}</span></td>
							</tr>
							<%}%>
							
						</tbody>
					</table>
					</div>
				</div>
				
				
			</div>
			
			
			
			<% include("/pager/common/footer.html"){} %>
		</div>
	</div>
</body>
</html>