<html>
<head>
<title>熊熊TV - 专业视频直播网站</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-siteapp-platform">
<meta name="apple-itunes-app" content="app-id=990892583">
<meta name="keywords"
	content="xxtv,熊熊TV,游戏, dota, dota2, dota2直播, LOL, LOL直播">
<meta name="description" content="熊熊TV 专业视频直播网站">
<link rel="shortcut icon"
	href="${base}/assets/biz-logic/images/favicon.ico" type="image/x-icon" />
<link href="${base}/assets/biz-logic/css/main.css" rel="stylesheet"
	type="text/css">
<link href="${base}/assets/biz-logic/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<script type="text/javascript"
	src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

	function change(cate) {
		window.location.href = '${base}/movie?cate=' + cate + "&page=1";
	}

</script>
</head>
<body>

	<div class="maxtopbar">
		<% include("/pager/common/nav-head.html"){} %>
		<div class="maxtopmainbar">
			<div
				style="width: 100%; height: 100px; background: url('${base}/assets/biz-logic/img/back.jpg') repeat-x; background-position: center;"></div>
			<div id="search-box"><form action="${base}/search/" method="get"><div class="large-search"><div style="margin-left: auto;margin-right:auto;position: relative;width: 341px;"><input class="large-search-text" type="text" name="q" placeholder="输入影片名字"><input type="submit" value="Go" class="large-search-btn "></div></div></form></div>

		</div>
		<div class="main-shadow-box">
			<div class="main-container"
				style="margin-top: 0px; margin-bottom: 1px; padding-bottom: 1px;">
				<div class="secoundbar-outer">
					<ul class="secoundbar" style="margin-top: 20px; margin-bottom: 0px">

					</ul>
				</div>

				<div class="container xuning-box" style="width: 1028px !important;">


					<div style="float: left; margin-left: 8px; margin-bottom: 8px;">
						<div class="home-box"
							style="margin-bottom: 15px; margin-top: 20px;">
							<div class="title-hori tit-box">
								影片分类<span style="float: right; margin-right: 20px;margin-bottom: 10px;">
									<div>
										<% for(item in cates){%>
											<div <%if(item.id == cate){%> class="nabtn active" <%}else{%>class="nabtn " <%}%>  style="padding: 2px 8px;" onclick="javascript:change(${item.id});">${item.name}</div>
										<%}%>
									</div>
								</span>
							</div>

							<div class="new-box content-dark"
								style="display: table;">
								<%for(item in list){%>
								<div class="live-box"
									style="width: 160px;text-align:center; margin: 10px 10px 10px 0px;box-shadow: 0 0 3px #000;">
									<a href="${base}/movie/detail?id=${item.id}" target="_blank"><div class="text-center"
											style="padding: 0px; margin: 0px; font-size: 0px; line-height: 0px; position: relative;">
											<img style="width: 116px; height: 150px;"
												class="none-opacity-img" src="${item.icon}">
											<div class="play-shadow"
												style="position: absolute; top: 40px; left: 95px;; z-index: -100;">

											</div>
										</div>
										<div
											style="width: 100%; display: table; position: relative; border: 1px #111 solid; background-color: rgb(15, 15, 15);">

											<div
												style="font-size: 14px; font-weight: 400; line-height: 30px; text-align:center; color: #eee;">
												<div class="overflow-text" style="width: 160px;">
												${item.name}
												</div>
											</div>
											<div
												style="color: #999; text-align: left; font-size: 11px; display: table; width: 100%; padding: 0 5px 5px 5px;">

												<div style="text-align:center;">
													${item.pub_date}    ${item.cateName}
												</div>
											</div>
										</div></a>
								</div>
								<%}%>

							</div>

						</div>



					</div>
					
					<% include("/pager/paginate/movie.html"){} %>
					
				</div>


			</div>
			<!-- footbar -->
			<% include("/pager/common/footer.html"){} %>
		</div>
	</div>

</body>
</html>