<html>
<head>
<title>熊熊TV - 影片搜索</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-siteapp-platform">
<meta name="apple-itunes-app" content="app-id=990892583">
<meta name="keywords"
	content="xxtv,熊熊TV,游戏, dota, dota2, dota2直播, LOL, LOL直播">
<meta name="description" content="熊熊TV 专业视频直播网站">
<link rel="shortcut icon"
	href="${base}/assets/biz-logic/images/favicon.ico" type="image/x-icon" />
<link href="${base}/assets/biz-logic/css/main.css" rel="stylesheet"
	type="text/css">
<script type="text/javascript"
	src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

	function todetail(target) {
		window.location.href = target;
	}

</script>
</head>
<body>

	<div class="maxtopbar">
		<% include("/pager/common/nav-head.html"){} %>

		<div class="maxtopmainbar">
			<div
				style="width: 100%; height: 100px; background: url('${base}/assets/biz-logic/img/back.jpg') repeat-x; background-position: center;"></div>
			<div id="search-box"><form action="${base}/search/" method="get"><div class="large-search"><div style="margin-left: auto;margin-right:auto;position: relative;width: 341px;"><input class="large-search-text" type="text" name="q" value="${q}" placeholder="输入影片名字"><input type="submit" value="Go" class="large-search-btn "></div></div></form></div>

		</div>
		<div class="main-shadow-box">
			<div class="main-container"
				style="margin-top: 0px; margin-bottom: 1px; padding-bottom: 1px;">
				<div class="container xuning-box radius-top" style="min-height: 630px;">
					<!-- <div
						style="font-size: 14px; color: #fff; padding: 7px; margin-top: 15px; text-align: center;">
						搜索结果: 108 <span
							style="font-size: 12px; line-height: 40px; margin-right: 10px;"><a
							href="/share_history/">找不到我的账号?</a></span>
					</div> -->
					<div style="min-height: 560px;">
					<table class="table-list-small"
						style="width: 70%; margin: 10px auto;">
						<tbody>
							<tr class="shead" style="height: 28px;">
								<td>影片搜索结果：${total}</td>
							</tr>
							<% for(item in list){%>
							<tr>
								<td style="cursor: pointer;" onclick="todetail('${base}/movie/detail?id=${item.id}');"><span style="margin-left: 10px;">${item.pub_date}</span>     <span style="margin-left: 30px;">${item.name}</span></td>
							</tr>
							<%}%>
							
						</tbody>
					</table>
					</div>
				
					<% include("/pager/paginate/search.html"){} %>
				</div>





			</div>
			<!-- footbar -->
			<% include("/pager/common/footer.html"){} %>
		</div>
	</div>
</body>
</html>